.cart-items {
  margin: 30px auto;
  width: 60%;
  background: orange;
  border: 2px solid black;
  border-radius: 5px;
}

.cart-items-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid black;
}

.cart-items-empty {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart-items-image {
  width: 100px;
  height: auto;
  border: 2px solid blac;
  margin-right: 10px;
  /* width: 20%; */
}
.cart-items-list {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 5%;
}

.cart-items-function {
  width: 20%;
}
.cart-items-title {
  width: 20%;
}

.cart-items-add,
.cart-items-remove {
  width: 40px;
  margin-right: 15px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: white;
}

.cart-items-add {
  background-color: green;
}
.cart-items-remove {
  background-color: red;
}

.cart-items-add:active {
  transform: translateY(1.2px);
}

.cart-items-add:remove {
  transform: translateY(1.2px);
}

.cart-items-total-price-name {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
  font-weight: 700;
  border-top: 2px solid black;
}
.cart-items-total-price {
  display: flex;
  padding-left: 45%;
}
@media (max-width: 1000px) {
  .cart-items {
    overflow: auto;

    margin: 30px auto;
    width: 80%;
    background: orange;
    border: 2px solid black;
    border-radius: 5px;
  }
}
@media (max-width: 600px) {
  .cart-items {
    overflow: auto;

    margin: 30px auto;
    width: 90%;
    background: orange;
    border: 2px solid black;
    border-radius: 5px;
  }
}

@media (max-width: 500px) {
  .cart-items {
    overflow: auto;
    margin: 30px auto;
    width: 100%;
    background: orange;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
  }
  .cart-items-title {
    font-size: 13px;
  }
  .cart-items-price {
    font-size: 13px;
  }
  .cart-items-price {
    font-size: 13px;
  }
  .cart-items-total-price-name {
    font-size: 16px;
  }
  .cart-items-total-price {
    font-size: 15px;
  }
}

@media (max-width: 385px) {
  .cart-items {
    overflow: auto;
    margin: 30px auto;
    width: 100%;
    background: orange;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
  }
  .cart-items-title {
    font-size: 13px;
  }
  .cart-items-price {
    font-size: 13px;
  }
  .cart-items-total-price-name {
    font-size: 16px;
  }
  .cart-items-total-price {
    font-size: 15px;
  }
}
